<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>create notification</title>
</head>
<body>
    <h1>Create notification</h1>
    <br>
    <div>
        <input id="input" placeholder="Type notification"/>
        <button id="btn">Send</button>
    </div>
    <script>
        $(document).ready(function() {
            const socket = io.connect('http://localhost:5000');
            

            $('#btn').on('click',function() {
                var notification = $('#input').val();
                socket.send(notification);
                console.log(notification);
                $('#input').val('');

            });
        })
    </script>
</body>
</html>